// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

/////// Fonts ////////

$h1: 61.04px;
$h2: 48.83px;
$h6: 20px;
$p: 16px;

h1{
  font-size: $h1;
}

h2{
  font-size: $h2 ;
}

h6{
  font-size: $h6;
}

