<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <% @costumes.each do |costume| %>
    <div class="col-4">

    <div class="card" >

    <div class="card-image">
    <%= image_tag costume.url %>
    </div>

     <div class="name">
    <%= link_to costume.name, costume_path(costume) %>
    </div>

    <div class="type">
      <%= costume.costume_type %>
    </div>
    <div  class="btn btn-outline-success">
     <%= link_to "Louer cette beauté", new_costume_rental_path(costume) %>

    </div>

    </div>

    </div>
    <% end %>
</div>
</body>
</html>
