<div class="container">
  <div class="row">
    <% @costumes.each do |costume| %>
    <div class="col-4 carte">
    <div class="card" >
    <div class=interior>
    <div class="card-image">
    <%= image_tag costume.url %>
    </div>
    <div class="info">
     <div class="name">
    <%= link_to costume.name, costume_path(costume), class:"liens"  %>
    </div>

    <div class="type">
      <%= costume.costume_type %>
    </div>
    <div  class="btn btn-outline-success">
     <%= link_to "Louer cette beauté", new_costume_rental_path(costume), class:"liens" %>
    </div>

    </div>

    </div>
    <% end %>

  </div>
</div>
