<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>

  </style>
</head>

<body>
  <header>

  <nav class="navbar">
  <img alt="Logo" width="300" src="/assets/logo.png">
  </nav>
<div class="card-container">
    <% @costumes.each do |costume| %>

    <div class="card" >

    <div class="card-image">
    <%= image_tag costume.url %>
    </div>

     <div class="name">
    <%= link_to costume.name, costume_path(costume) %>
    </div>

    <div class="type">
      <%= costume.costume_type %>
    </div>

    </div>

    <% end %>

</div>

  </header>
</body>
</html>
