// *{
//   border: red solid 1px;
// }

.produit{
  display: flex;
  flex-direction: row;
  width: 1200px;
  align-self: center;
  margin-bottom: 120px;
  margin-top: 120px;
  gap: 40px;
  img{
    width: 50%;
    height: 500px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  }
}
.comms{
  margin-top: 30px;
  .com{
    border: 1px solid rgb(97, 97, 97);
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    padding: 8px;

    .email{
      font-size: 10px;
      text-align: right;
    }
  }

  a{
    margin-bottom: 80px;
  }
}
