.navbar {
  background-color: rgba(255, 0, 225, 0.489);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Rubik;
  .logo{
    width: 400px;
    height: 80px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.search_form{
  width: fit-content;
}

.session-handler{
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 400px;
  justify-content: center;
}
