.bouton{
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: blueviolet;
  border-radius: 20px;
  padding: 10px;
  font-family: Rubik;
}

.bouton:hover{
  background-color: aliceblue;
  color: black;
  border-radius: 20px;
  padding: 10px;
  border: blueviolet 2px solid;
}
