.card{
display: flex;
flex-direction: column;
justify-content: space-between;
font-family: Rubik;
height: 300px;
width: 200px;
border:solid;
border-width: 2px;
border-radius: 10px;
text-align: center;
margin: 10px;
border-color: rgb(255, 255, 255);
box-shadow: 0 0px 20px rgba(104, 255, 117, 0.7);
background-color: aliceblue;
font-size: 10px;
padding: 15px;
 }

 .info{
  text-align: left;
 }

 .lien {
  text-decoration: none;
  color: black;
  font-family: Rubik;
  }

  .card-image img{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
