.card{
display: flex;
flex-direction: column;
font-family: Rubik;
height: fit-content;
width: 200px;
border:solid;
border-width: 1px;
border-radius: 8px;
text-align: center;
margin: 10px;
border-color: rgb(255, 255, 255);
box-shadow: 0 0px 20px rgba(104, 255, 117, 0.7);
background-color: aliceblue;

box-shadow: 0 10px 30px rgba(0,0,0,0.1);
overflow: hidden;
  .type{
    margin-bottom: 12px;
  }
 }

 .info{
  text-align: left;
  padding: 8px;
  display: flex;
  flex-direction: column;
  height: fit-content;
 }

 .lien {
  text-decoration: none;
  color: black;
  font-family: Rubik;
  }

  .card-image img{
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
