// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";


@import "components/navbar";
@import "components/logo";
@import "components/bouton";
@import "components/liens";
@import "components/card";
@import "components/footer";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



.fond {
  background-color: aliceblue;
}

body {
  display: flex;
  flex-direction: column;
  cursor: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjWoOC0StfioJVOwrWtf_sbYd4OuuOYf3t1w&usqp=CAU");
}

.custom-cursor-enabled {
  cursor: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjWoOC0StfioJVOwrWtf_sbYd4OuuOYf3t1w&usqp=CAU'), auto;
}




.container {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  padding: 10px;
  gap: 20px;
  justify-content: center;
  }
